*{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background: #DA4453; 
    background: linear-gradient(to right, #89216B, #DA4453);
}

nav div a {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
}

header .icono{
    position:fixed;
    top: 11px;
    left: 1.8rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    animation: moverIzquierda 1.3s ease-in-out;
}

.uno{
    clip-path: polygon(0% 0%, 0 0, 0 13%, 0 13%);
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.484);
    transition: all 0.5s ease-in;
}

.dos{
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    transition: all 0.5s ease-in;
}

.container{
    width: 95%;
    max-width: 1200px;
    padding: 48px 40px 10px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.textos{
    width: 50%;
    color: #fff;
}

.textos h1{
    font-size: 60px;
}

.textos h2 {
    font-size: 25px;
}

.textos button{
    color: #fff;
    background-color: transparent;
    font-weight: 300;
    text-decoration: none;
    margin-top: 15px;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0 10px 0;
    transition: 0.2s all ease-in;
}
.textos button:hover {
    background-color: #fff;
    color: #89216B;
}

#img{
    width: 500px;
    display: block;
    object-fit: cover;
    animation: moverArriba 1.2s ease-in-out;
}

.wave{
    height: 70px;
    background: #DA4453;
    background: linear-gradient(to right, #89216B, #DA4453);
}

@keyframes moverIzquierda {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moverArriba {
    0%{
        opacity: 0;
        transform: translateY(150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1136px){
    #img{
        width: 400px;
    }

    .textos h1{
        font-size: 50px;
    }
    .textos h2 {
        font-size: 18px;
    }
}

@media (max-width: 948px){
    #img{
        width: 300px;
    }

    .textos h1{
        font-size: 45px;
    }
    .textos h2 {
        font-size: 14px;
    }
    .textos a{
        margin-top: 12px;
        width: 70px;
        border-radius: 3px;
        padding: 6px 0 6px 0;
    }
}

@media (max-width: 700px){
    #img{
        width: 250px;
    }
    .textos h1{
        font-size: 45px;
    }
    .textos h2 {
        font-size: 14px;
    }

}

@media (max-width: 600px){

    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 2rem 0 2rem 0;
    }
    .textos{
        width: 60%;
        text-align: center;
    }

    .textos h1{
        font-size: 30px;
    }
    .textos h2 {
        font-size: 10px;
    }

    .uno{
        justify-content:flex-end;
    }

    .uno a {
        margin: 10px;
    }
}